:root {
    --primary-color: rgb(11, 93, 216)
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat Variable', sans-serif;
    font-weight: 400;
    font-size: 16px;
  }

a {
    text-decoration: none;
    color: inherit;
}

ul li {
    list-style: none;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    padding-top: 6rem;
    /* padding-bottom: 1rem; */
    /* background-color: aquamarine; */
    /* border-radius: 0 0 5rem 5rem; */
}

.title {
    font-size: 3rem;
    color: var(--primary-color);
    overflow: hidden;
    border-right: .15em solid var(--primary-color);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
        typing 4s steps(20, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--primary-color); }
}

.description {
    font-weight: 300;
}

.quote {
    font-family: 'Bungee', sans-serif;
    font-size: 2rem;
    color: transparent;
    -webkit-text-stroke: 1px var(--primary-color);
}

.quote-container, .toolbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.quote-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 2px dotted var(--primary-color);
}

.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.loading-text {
    color: var(--primary-color);
}

.start {
    width: fit-content;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 1rem 4rem;
    background-color: var(--primary-color);
    color: #FFF;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 50%;
}

.safe {
    background-color: var(--primary-color);
}

.caution {
    background-color: orange;
}

.danger {
    background-color: maroon;
}