:root {
    --primary-color: rgb(86, 11, 216);
    --primary-gradient: linear-gradient(90deg, rgb(100, 194, 196) 0%, rgba(85,18,153,1) 100%);
    --disabled-color: #b8b0c5;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat Variable', sans-serif;
    font-weight: 400;
    font-size: 16px;
  }

a {
    text-decoration: none;
    color: inherit;
}

ul li {
    list-style: none;
}

header {
    height: 25vh;
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 6rem;
    background-image: url('./assets/header.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header {
    width: 70vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: #fff;
    border: 3px solid;
    border-image: var(--primary-gradient) 1;
    padding: 1rem 0;
}

.title {
    font-size: 3rem;
    background: var(--primary-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    border-right: .15em solid;
    border-color: transparent; 
    border-image: var(--primary-gradient) 1;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
        typing 4s steps(20, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-image: none; }
  50% { border-image: var(--primary-gradient) 1; }
}

.description {
    color: var(--primary-color);
    font-weight: 300;
}

.quote {
    font-family: 'Bungee', sans-serif;
    font-size: 2rem;
    color: transparent;
    -webkit-text-stroke: 1px var(--primary-color);
    text-align: center;
}

.quote-container, .toolbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
}

.quote-container {
    width: 80%;
}

.toolbar {
    width: 40%;
    gap: 1rem;
}

.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.loading-text {
    color: var(--primary-color);
}

.start {
    width: fit-content;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 1rem 4rem;
    background: var(--primary-color);
    color: #FFF;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

.countdown {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.countdown-bar-container {
    flex: 1;
    height: 0.75rem;
    background-color: var(--disabled-color);
    border-radius: 9999px;
}

.countdown-bar {
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    animation: countdown-time 60s linear;
}

@keyframes countdown-time {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}

.safe, .caution, .danger {
    transition: background-color 500ms;
}

.safe {
    background-color: var(--primary-color);
}

.caution {
    background-color: orange;
}

.danger {
    background-color: maroon;
}

input[type='text'] {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    color: var(--primary-color);
    border: 1px solid #afafaf;
    border-radius: 0.5rem;
}

input[type='text']:focus-visible {
    outline: 3px solid var(--primary-color);
}