*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat Variable', sans-serif;
    font-weight: 400;
  }

a {
    text-decoration: none;
    color: inherit;
}

ul li {
    list-style: none;
}

.target-text {
    font-family: 'Bungee', sans-serif;
}